@font-face {
  font-family: 'DemoEspro';
  src:  url('DemoEspro.eot?yhzxq4');
  src:  url('DemoEspro.eot?yhzxq4#iefix') format('embedded-opentype'),
    url('DemoEspro.ttf?yhzxq4') format('truetype'),
    url('DemoEspro.woff?yhzxq4') format('woff'),
    url('DemoEspro.svg?yhzxq4#DemoEspro') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-espro"], [class*=" icon-espro"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'DemoEspro' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  font-size: 19px;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-esprofilter:before {
  content: "\e90c";
}
.icon-esprolocation:before {
  content: "\e90d";
}
.icon-esprominus:before {
  content: "\e90e";
}
.icon-esproplus:before {
  content: "\e90f";
}
.icon-esproshipment:before {
  content: "\e910";
}
.icon-esprotwitter:before {
  content: "\e911";
}
.icon-esprostar:before {
  content: "\e90b";
}
.icon-esprodown-arrow:before {
  content: "\e90a";
}
.icon-esprodrop-down:before {
  content: "\e909";
}
.icon-esproaccount:before {
  content: "\e900";
}
.icon-esprobag:before {
  content: "\e901";
}
.icon-esproclose:before {
  content: "\e902";
}
.icon-esprofacebook:before {
  content: "\e903";
}
.icon-esproinstagram:before {
  content: "\e904";
}
.icon-espronav:before {
  content: "\e905";
}
.icon-esproplay:before {
  content: "\e906";
}
.icon-esproright:before {
  content: "\e907";
}
.icon-esprosearch:before {
  content: "\e908";
}
